# Sao chép thành .env rồi điền thật (KHÔNG commit .env)
TDTU_MSSV=your_student_id
TDTU_PASSWORD=your_password_here
# TDTU_ELEARNING_URL=https://elearning.tdtu.edu.vn
# TDTU_DOWNLOAD_DIR=/home/you/Downloads/tdtu
